<%- contentFor('body') %>
<form class="login-form" action="/login" method="POST">

    <%- _csrfForm %>

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" name="email" class="form-control" id="email">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</form>