<%- contentFor('body') %>

    <form class="login-form" action="/signup" method="POST">
        <div class="form-control">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>

        <button class="btn" type="submit">Sign Up</button>
    </form>

    <script>
        /*
        document.addEventListener("turbolinks:before-cache", function () {
            const flash_message_element = document.querySelector(".flash")
            console.log(flash_message_element);
            if (flash_message_element) {
                //flash_message_element.remove()
            }
        })
        */
    </script>